.grid-item { 
	width: 290px;
}    

/**
 * DEVICE UNKNOWN
 */
.device-unknown h5 {
	color: rgba(0,0,0,0.7);
	margin-bottom:5px;
	text-transform: uppercase;
}

.device md-switch,
.device-unknown md-switch {
	margin: auto 5px auto 12px;
}

.device-unknown md-slider {
	margin: auto 15px;
}

.device-unknown img {
	width: 100%;
}

.disclaimer h5 {
	text-transform: uppercase;
}