<!DOCTYPE html>
<html lang="en" ng-app="yaih">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>YAIH</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/vendor/angular-material-1.1.0.min.css">
	<link rel="stylesheet" href="font/material-icons-2.2.css">

	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>
				YAIH
			</h2>
			<span flex></span>
			<md-button class="md-primary md-hue-2" target="_blank" ng-href="https://bitbucket.org/fistakus/fistakus.bitbucket.org"><md-icon class="md-avatar-icon">assignment</md-icon> Read more</md-button>
		</div>
	</md-toolbar>

	<div layout-padding ng-controller="devices" masonry='{ "itemSelector": ".grid-item" }'>
		<device on-delete="deleteDevice(device)" masonry-tile ng-repeat="device in devices" class="grid-item" info="device"></device>

	</div>

	<script src="js/vendor/jquery-3.1.0.min.js"></script>

	<script src="js/vendor/angular-1.5.8.min.js"></script>
	<script src="js/vendor/angular-animate-1.5.8.min.js"></script>
	<script src="js/vendor/angular-aria-1.5.8.min.js"></script>
	<script src="js/vendor/angular-resource-1.5.8.min.js"></script>

	<script src="js/vendor/masonry-4.1.1.min.js"></script>
	<script src="js/vendor/imagesloaded-4.1.0.min.js"></script>
	<script src="js/vendor/angular-masonry-directive.js"></script>

	<script src="js/vendor/angular-material-1.1.0.min.js"></script>

	<script src="js/app.js"></script>
</body>
</html>
