<md-card layout-padding class="device-unknown">
	<md-card-header>
		<md-card-avatar>
			<md-icon class="md-avatar-icon">videocam</md-icon>
		</md-card-avatar>
		<md-card-header-text>
		 	<div layout=row layout-align="space-between center">
				<div>
				<span class="md-title">{{singleDevice.info.display_name}}</span>
				<md-progress-linear ng-class="singleDevice.fails >= 2 ? 'md-warn' : ''" md-mode="determinate" value="{{singleDevice.progress}}"></md-progress-linear>
				</div>
				<md-switch ng-model="get_ability('switch').state" ng-change="send_state()" aria-label="{{ability.name}}"></md-switch>
			</div>
		</md-card-header-text>
	</md-card-header>
	<md-card-actions ng-show="get_ability('switch').state">
		<img ng-src="{{get_sensor('camera').state}}">
		<h5>NOTE</h5><small> Image above is not live</small>
	</md-card-actions>
</md-card> 