<md-card layout-padding class="device-unknown">
	<md-card-header>
		<md-card-avatar>
			<md-icon class="md-avatar-icon">widgets</md-icon>
		</md-card-avatar>
		<md-card-header-text>
			<span class="md-title">{{singleDevice.info.display_name}}</span>
				<md-progress-linear ng-class="singleDevice.fails >= 2 ? 'md-warn' : ''" md-mode="determinate" value="{{singleDevice.progress}}"></md-progress-linear>
		</md-card-header-text>
	</md-card-header>
	<md-card-title><small>{{singleDevice.info.description}}</small></md-card-title>
	<md-card-actions>
		<div ng-repeat="sensor in singleDevice.info.sensors">
			<h5>{{sensor.name}} of type {{sensor.type}}</h5>
			<div ng-switch="sensor.type">
				<div ng-switch-when="motion">{{sensor.state ? "Movement detected" : "Nothing to report"}}</div>
				<div ng-switch-default><span>{{sensor.state}}</span></div>
				<div ng-switch-when="preview">
					<h5>Taken 12/03/2014 12:30</h5>
					<img ng-src="{{sensor.state}}">
				</div>
			</div>

		</div>
		<div ng-repeat="ability in singleDevice.info.abilities">
			<div ng-switch="ability.type">
				<div ng-switch-when="switch">
					<h5>{{ability.name}}</h5>
					<div layout=row layout-align="left center">
						{{ability.false_option_name}}
						<md-switch ng-model="ability.state" ng-change="send_state()" aria-label="{{ability.name}}"></md-switch>
						{{ability.true_option_name}}
					</div>
				</div>
				<div ng-switch-when="slider_cont">
					<h5>{{ability.name}}</h5>
					<div layout=row layout-align="left center">
						{{ability.min}}
						<md-slider flex min="{{ability.min}}" max="{{ability.max}}" aria-label="{{ability.name}}"></md-slider>
						{{ability.max}}
					</div>
				</div>
				<div ng-switch-default>
					<small>We are sorry. Your {{singleDevice.info.display_name}} gives you opportunity but we don't know how to handle it. Please be sure to refer to: {{singleDevice.info.industry_name}} / {{ability.type}}.</small>
				</div>
			</div>


		</div>

	</md-card-actions>
	<md-card-content><small>We do not know <strong>{{singleDevice.info.display_name}}</strong>. If you wish to see a custom dashboard item please contact us on <a href="mailto:">contact@us.com</a>. Please be sure to refer to: {{singleDevice.info.industry_name}}.</small></md-card-content>
</md-card> 