<md-card layout-padding class="device">
	<md-card-header>
		<md-card-avatar>
			<md-icon class="md-avatar-icon">invert_colors</md-icon>
		</md-card-avatar>
		<md-card-header-text>
			<span class="md-title">{{singleDevice.info.display_name}}</span>
				<md-progress-linear ng-class="singleDevice.fails >= 2 ? 'md-warn' : ''" md-mode="determinate" value="{{singleDevice.progress}}"></md-progress-linear>
		</md-card-header-text>
	</md-card-header>
	<md-card-title>
		<h5>Dishwasher's door are 
			<span ng-show="get_sensor('door').state"> closed. Choose any action below.</span>
			<span ng-show="!get_sensor('door').state"> <span md-colors="{color:'accent'}">open</span>. Please close the door manually.</span>
		</h5>
	</md-card-title>
	<md-card-actions>
		<div layout=row layout-align="left center">
			rinse <md-switch ng-disabled="!get_sensor('door').state" ng-model="get_ability('switch').state" ng-change="send_state()" aria-label="rinse"></md-switch>
		</div>
	</md-card-actions>
</md-card> 