<md-card layout-padding class="device">
	<md-card-header>
		<md-card-avatar>
			<md-icon class="md-avatar-icon">lightbulb_outline</md-icon>
		</md-card-avatar>
		<md-card-header-text>
			<span class="md-title">{{singleDevice.info.display_name}}</span>
			<span class="md-subhead">Light bulb</span>
		</md-card-header-text>
	</md-card-header>
	<md-card-actions>
		<div layout=row layout-align="left center">
			{{singleDevice.info.abilities[0].false_option_name}}
			<md-switch ng-model="singleDevice.info.abilities[0].state" ng-change="send_state()" aria-label="{{singleDevice.info.abilities[0].name}}"></md-switch>
			{{singleDevice.info.abilities[0].true_option_name}}
		</div>
	</md-card-actions>
</md-card> 